@media(max-width:1024px){
  html{
    font-size: 20px;
  }
.shiny-input-container:not(.shiny-input-container-inline){
  width: 80%;
}
}

@media(max-width:768px){
  html{
    font-size: 24px;
  }
}

